*, body{
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI“, “Roboto“, “Noto Sans “, “Droid Sans“, “Helvetica Neue“, sans-serif;
    color:rgba(0,0,0,0.87);
    font-size:14px;
    line-height: 20px;
    /* transition: all ease 0.1s; */
}

header{
    background:rgb(0,0,51);
    padding:4px 0 0 4px;
    display: flex;
    justify-content: space-between;

}

header div, .subheader div {
    display: flex;
}

button{
    border:none;
    border-radius: 3px;
    padding:7px 8px;
    margin:0 4px 4px 0;
    cursor: pointer;
}
header button{
    background: rgba(0,0,0,0);
    color:white;   
}

header button:hover{
    background: rgba(255,255,255,0.25);
}

header div img{
    height:32px;
    margin: 2px 12px 2px 2px;

}

.subheader{
    padding:4px 0 0 4px;
    background: rgba(0,0,0,0.10);
    display:flex;
    justify-content: space-between;
}

.subheader button{
    background: rgba(0,0,0,0);
}

.subheader button:hover{
    background: rgba(0,0,0,0.10);
}

h1{
    font-size:18px;
    margin: 8px 4px;
}

.line{
    background:rgba(0,0,0,0.17);
    width: 1px;
    height: 36px;
    margin: 0 4px 4px 4px;
}
.ico{
    padding:0px;
    display: flex;
    height:36px;
    width:36px;
}

.ico img{
    margin:auto;
}

.ico-txt{
    display: flex;
    padding: 0px;
    height:36px;
}

.ico-txt img {
    margin:auto 4px;
    height:28px;
    width:28px;
}

button label{
    color:white;
    display: inline-block;
    margin:auto 8px auto 0px;
    cursor:pointer;
}

.pri {
    background:rgb(50,100,255) !important;
    color:white;
    border-radius:3px;
    padding: 7px 12px;
}

.pri:hover {
    box-shadow:inset 50px 50px 0px rgba(0,0,0,0.17);
}

/* Carousel */
.carousel-cell{
    width:100%;
    background:rgba(0,0,0,0.10);
    display: flex;
}

.flickity-button{
    height:100%;
    background:rgba(0,0,0,0.0);
    border-radius: 0;
    width:5%;
    cursor:e-resize;
}

h1 {
    color:red;
}